<div *ngIf="loginView == true;then viewLoginForm else viewRegisterForm"></div>
<ng-template #viewLoginForm><app-login></app-login></ng-template>
<ng-template #viewRegisterForm><app-register></app-register></ng-template>
<div class="switch-login-register">
  <button (click)="switchLoginRegister()" class="btn-login-register">
    <span *ngIf="loginView;then messageRegister else messageLogin"></span>
    <ng-template #messageRegister>{{message1}}</ng-template>
    <ng-template #messageLogin>{{message2}}</ng-template>
  </button>
</div>
