<div class="change-password">
  <form #formChangePassword="ngForm" (ngSubmit)="changePassword(formChangePassword)" class="form-change-password">
    <label for="newPassword">Insert new password:</label>
    <input type="password" name="newPassword" id="newPassword" ngModel>
    <label for="repeatPassword">Repeat the new password:</label>
    <input type="password" name="repeatPassword" id="repeatPassword" ngModel>
    <button type="submit" class="btn-change-password">Change the password</button>
  </form>
  <span>{{getMessage()}}</span>
</div>
