.dashboard{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:row;
}

.img-line{
  height:30px;
  width:30px;
  visibility:hidden;
  left:0;
  position:fixed;
  z-index:2000;
}

@media screen and (max-width: 768px ){
  .sidebar{
    visibility:hidden;
    z-index:1500;
  }

  .img-line{
    visibility:visible;
  }
}
