.add-content {
  width: auto;
  height: max-content;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create-content {
  height: 450px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.create-content input {
  width: 70%;
  height: 40px;
  margin: 20px;
  font-size: 16px;
  text-align: center;
}

.btn-create {
  height: 40px;
  width: 70%;
  border: none;
  font-size: 16px;
  color: #fff;
  background-color: #917941;
  margin-top: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-create:hover {
  background-color: #ae8e45;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  list-style-type: none;
  width: 100%;
  margin: 10px;
  color: #f0f0f0;
  overflow: auto;
  height: 630px;

}

.list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width:768px) {
  .list{
    flex-direction:row;
    height:250px;
    display:flex;
    align-items:center;
    justify-content:center;

  }

  .create-content{
    width:100%;
  }

  .add-content{
    width:auto;
    height:max-content;
    flex-direction:column;
  }
}
