<div class="add-content">
  <form #formCreateBeer="ngForm" (ngSubmit)="createBeer(formCreateBeer)" class="create-content">
    <label for="brewingname">Brewing name</label>
    <input type="text" name="brewingname" id="brewingname" ngModel>
    <label for="OG">Original Gravity (OG)</label>
    <input type="number" name="OG" id="OG" ngModel>
    <label for="FG">Final Gravity (FG)</label>
    <input type="number" name="FG" id="FG" ngModel>
    <label for="alcohol">Alcohol</label>
    <input type="number" name="alcohol" id="alcohol" ngModel>
    <button type="submit" class="btn-create">Add new beer</button>
  </form>
  <ul class="list">
    <li *ngFor="let beer of getBeersList()">
      <app-card [beer]="beer"
                (message)="printMessage($event)"
                (checkDelete)="deleteCard($event,beer.getBeerId())"
                (seeUpdate)="updateCard($event)">
      </app-card>
    </li>
  </ul>
  <div class="message">
    <span class="message-content">{{getMessage()}}</span>
  </div>
</div>
