<div class="calculator">
  <form #formCalculator="ngForm" class="calculator-form" (ngSubmit)="calculate(formCalculator)">
    <label for="OG">Original Gravity (OG)</label>
    <input type="number" name="OG" id="OG" ngModel>
    <label for="FG">Final Gravity (FG)</label>
    <input type="number" name="FG" id="FG" ngModel>
    <button type="submit" class="btn-calculator">Calculate</button><br>
    <span *ngIf="getResult() != ''">Your beer will have {{getResult()}}% alcohol.</span>
  </form>
</div>
